<template name="words">
  {{#each wordSectionData}}
  {{> wordSection}}
  {{/each}}

  {{>wordDataModal}}
</template>

<template name="wordSection">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{section_name}}</h3>
    </div>
    <div class="panel-body {{section_name}}" data-words="{{words}}">

    </div>
  </div>
</template>

<template name="wordDataModal">
  <div class="modal fade" id="wordDefModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span class="modal-title word-title" id="wordLabel"></span>
          <a href="" class="pronunciation"><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></a>
          <span class="pull-right time-remaining-div">Time Remaining: <span class="time-remaining"></span> Minutes</span>
        </div>
        <div class="modal-body word-data">
          <b>Definitions</b>
          <div class="word-definition">

          </div>
          
          <hr>
          
          <b>Examples</b>
          <div class="word-example">
          </div>
          
          <hr>

          <b>My Examples</b>
          <div class="my-word-example">
            <ul class="my-word-example-list">
              
            </ul>
          </div>
          
          <hr>
          <b>Add your own example</b>
          <div class="word-example-input-container">
            <br/>
            <div class="input-group">
              <input type="text" class="form-control word-example-input" placeholder="Add your own word example">
              <span class="input-group-btn">
                <button class="btn btn-default add-word-example-btn" type="button">Add</button>
              </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success pull-left difficulty-button" data-difficulty="easy" data-cell-class="success">Easy</button>
          <button type="button" class="btn btn-warning pull-left difficulty-button" data-difficulty="medium" data-cell-class="warning">Medium</button>
          <button type="button" class="btn btn-danger pull-left difficulty-button" data-difficulty="difficult" data-cell-class="danger">Difficult</button>
          <button type="button" class="btn btn-default modal-close-button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
