// Main styles

.word-cell {
  cursor: pointer;
  width: 240px;
}

.word-cell:hover {
  background-color: #DCDCDC;
}

.word-title {
  font-size: 20px;
  font-weight: bold;
}

.time-remaining-div {
  margin-right: 20px;
  font-size: 15px;
}

body {
  font-family: 'Lato' !important;
}
